
.conatiner {
  width: 100%;
  height: 1000px;
  border: 1px solid grey;
}
.display-discovery {
  width: 65%;
  display: inline;
}
.display-images {
  width: 65%;
  height: 1000px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 20px auto;
  margin-left: 100px;
  border: 1px solid grey;
}
.hexagon {
  width: 400px;
  height: 200px;
  position: relative;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
}
.hexagon-inside {
  width: 100%;
  height: 100%;
  background: green;
  transform: rotate(-60deg);
  position: relative;
  overflow: hidden;
}
.hexagon-image {
  width: 100%;
  height: 100%;
  background: blue;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}
.display-info .hidden {
  display: none;
}
.display-images li {
  transform: rotate(-15deg);
  margin-left: -170px;
}
ul.display-info {
  width: 210px;
  height: 210px;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 95px;

}
ul.display-info li, input {
  height: 1.25em;
  padding: 3px;
  background-color: black;
  display: inline-block;
  color: white;
  transform: rotate(120deg);
  visibility: visible;
  position: absolute;
  top: 30px;
  right: 50px;
}
display-info input {
  transform: rotate(30deg);
}
/*
  == Display current track and playlist information
  in a side panel.
*/

.display-song-panel {
  position: fixed;
  right: 0;
  z-index: 1;
}
.display-track {
  width: 90%;
  height: 300px;
  border: 1px solid grey;
  margin: 5px auto;
}
.display-song-panel {
  width: 34%;
  height: 800px;
  border: 1px solid grey;
  float: right;
  display: inline;
}

/*
footer element, progress bar with background color
*/
.progress-bar {
  width: 60%;
  height: 20px;
  border: 1px solid grey;
  border-radius: 50px;
  margin-left: 20px;
  position: fixed;
  bottom: 20px;
}
.progress-bar-hide {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: white;
  margin-top: -20px;
  float: right;
  position: relative;
}
.progress-bar-hide-display {
  width: 35px;
  height: 60px;
  float: left;
  background-image: url('../assets/images/juiceBox01.jpg');
  position: absolute;
  bottom: -10px;
  transform: rotate(30deg);
}
.progress-bar-color {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-image: url('../assets/images/rainbobarpegs.jpg');
}






/*  */
