
.conatiner {
  width: 100%;
  height: 1000px;
  border: 1px solid grey;
}
.display-discovery {
  width: 65%;
  margin: 0;
  display: inline;
}
.display-images {
  width: 65%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 0 auto;
  border: 1px solid grey;
}
.hexagon {
  width: 400px;
  height: 200px;
  position: relative;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
}
.hexagon-inside {
  width: 100%;
  height: 100%;
  background: green;
  transform: rotate(-60deg);
  overflow: hidden;
}
.hexagon-image {
  width: 100%;
  height: 100%;
  background: blue;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}
.display-song-panel {
  position: fixed;
}
.display-track {
  width: 90%;
  height: 300px;
  border: 1px solid grey;
  margin: 5px auto;
}
.display-song-panel {
  width: 34%;
  height: 800px;
  border: 1px solid grey;
  float: right;
  display: inline;
}
